In [1]:
import pandas as pd

In [10]:
df = pd.DataFrame({'a':range(1,10)})
df

   a
0  1
1  2
2  3
3  4
4  5
5  6
6  7
7  8
8  9

In [13]:
df = pd.DataFrame({'a':range(1,10)})
df.reset_index(inplace=True)
df['file']='file'
df

   index  a  file
0      0  1  file
1      1  2  file
2      2  3  file
3      3  4  file
4      4  5  file
5      5  6  file
6      6  7  file
7      7  8  file
8      8  9  file

In [21]:
audio_label = []#pd.DataFrame(columns=['index','file','class'])
audio_label.append([0,'test','text'])
audio_label.append([0,'test','text'])
audio_label.append([0,'test','text'])
audio_label.append([0,'test','text'])

df2 = pd.DataFrame(audio_label,columns=['index','file','class'])
df2

   index  file class
0      0  test  text
1      0  test  text
2      0  test  text
3      0  test  text

In [52]:
audio_features = pd.read_csv('../data/audio_features/audio_features.csv')
audio_labels_df = pd.read_csv('../data/audio_features/audio_features_labels.csv')
audio_features.set_index(['index','file'])#.join(audio_labels_df.set_index(['index','file']))
audio_labels_df.set_index(['index','file'])
audio_features_labelled=audio_features.set_index(['index','file']).join(audio_labels_df.set_index(['index','file']))
# audio_features_labelled.isnull().any(axis=1)
audio_features_labelled.dropna(axis=0,inplace=True)
audio_features_labelled[audio_features_labelled.isnull().any(axis=1)]
# audio_features_labelled

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, label]
Index: []

[0 rows x 33 columns]